body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin : 0;
}
header{
    background-color: #2c3e50;
    color:white;
    padding: 20px;
    text-align: center;
}
nav{
    background-color: #34495e;
    padding: 10x;
    text-align: center;
}
nav a {
    color: #f4f4f4;
    text-decoration: none;
    margin: 0 15px;
}
section{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
h2{
    margin-bottom: 10px;
    color: #2c3e50;
}
p{
    margin-top:0;
}
ul{
    padding-left: 20px;
}
li{
    margin-bottom: 5px;
}
footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}